<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>My Favourite Disney Characters</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="index.html">My Favourite Disney Characters</a></h1>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="index.html">Homepage</a></li>
								<li><a href="walle.html">Wall-E</a></li>
								<li><a href="sadness.html">Sadness</a></li>
								<li><a href="doug.html">Doug</a></li>
							</ul>
						</nav>
					</div>

				<!-- Page -->
					<div id="page" class="container">
						<section>
							<header class="major">
								<h2>WALL-E</h2>
								<span class="byline">A robot</span>
							</header>
							<p>WALL-E, a robot who has developed sentience, is the only robot of his kind shown to be still functioning on Earth. He is a small mobile compactor box with all-terrain treads, three-fingered shovel hands, binocular eyes, and retractable solar cells for power. Although working diligently to fulfill his directive to clean up the garbage (all the while accompanied by his cockroach friend Hal and music playing from his on-board recorder) he is distracted by his curiosity, collecting trinkets of interest. He stores and displays these "treasures" such as a birdcage full of rubber ducks, a Rubik's Cube, Zippos, disposable cups filled with plastic cutlery and a golden trophy at his home where he examines and categorizes his finds while watching a video cassette of Hello, Dolly! via an iPod viewed through a large Fresnel lens.</p>
							<p><img src="images/walleve.jpg"></p>
							<p>He has become very lonely, having nobody but Hal as company, and is beginning to wonder whether there is more to life than his directive. So when he meets EVE, he quickly falls in love with her. WALL•E is very protective of EVE. When she shuts down after getting the plant, WALL•E places her on top of his transport (thinking she is charged by solar energy just as he is) and protects her from the weather waiting for her to "recharge". At the repair center, he mistakes that the equipment there as trying to hurt her and rushes to her aid.</p>
							<iframe height="300" width="600" src="https://www.youtube.com/embed/QHH3iSeDBLo"></iframe>
						</section>
					</div>
				<!-- /Page -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container"> <span class="copyright">Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</span>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>

	</body>
</html>
